<div class="row mainRow" ng-controller="SerieCtrl as ctrl">
	&NonBreakingSpace;
	<div class="row">
		<h4>
			Series <i>{{ctrl.service.search.posteador ? 'de ' + ctrl.service.search.posteador : ''}}</i>
			<add-item-button model="ctrl.service"></add-item-button>
		</h4>
		<hr>
	</div>

	<div class="main-container">
		<search-panel model="ctrl.service">
			<post-id-search ng-show="ctrl.service.puedeBuscarPost()" post="ctrl.service.search.postID"> </post-id-search>
			
			<text-input-search title="'Título'" model="ctrl.service.search.title"> </text-input-search>
			<number-input-search title="'Año'" model="ctrl.service.search.year"> </number-input-search>
			<text-input-search ng-hide={{!!ctrl.service.search.posteador}} title="'Autor del post'" model="ctrl.service.search.posteador"> </text-input-search>
			
			<option-single-search model="ctrl.service.capitulo"> </option-single-search>
			<option-many-search model="ctrl.service.temporada"> </option-many-search>
			<option-single-search model="ctrl.service.format"> </option-single-search>
			<option-single-search model="ctrl.service.calidad"> </option-single-search>
			<option-many-search   model="ctrl.service.idioma"> </option-many-search>
			<option-many-search   model="ctrl.service.genero"> </option-many-search>
			<option-many-search   model="ctrl.service.directores"> </option-many-search>
			<option-many-search   model="ctrl.service.reparto"> </option-many-search>
		</search-panel>

		<pagination-view class="pagination-view" model="ctrl.service.pageCtrl">
			<div class="panel-item-container thhh-animation" ng-repeat="m in ctrl.service.results">
				<item-buttons model="ctrl.service" item="m"></item-buttons>
				<div class="panel panel-movie panel-info" ng-mouseenter="isCollapsed = false;" ng-mouseleave="isCollapsed = true;" ng-init="isCollapsed = true;">
					<div class="panel-body cuerpoPanel" style="background-image: url({{m.caratula}});">
						<div class="tituloPanel tituloPanelSeries">
							<a href="{{m.postID}}" target="_blank">{{m.title}}</a>
						</div>
						<marco model="ctrl.service.marco"></marco>

					    <div class="description-anim idiomasFlags" ng-show="isCollapsed">
					        <idioma-flags model="m.idioma"></idioma-flags>
					    </div>
						<div class="description-anim showUpDescriptionSeries" ng-show="!isCollapsed">
							<div style="padding-left:5px; color: #000000; font-weight: 300;">
									<posteador-field model='m.posteador'></posteador-field>
									<simple-field model="m.year" title="'Año'"></simple-field>
									<idioma-field model= "m.idioma" title="'Idioma'"></idioma-field>
									<simple-field model="m.capitulo" title="'Capitulo'"></simple-field>
									<many-field model="m.temporada" title="'Temporada'"></many-field>
									<simple-field model="m.format" title="'Formato'"></simple-field>
									<simple-field model="m.calidad" title="'Calidad'"></simple-field>
									<many-field model="m.genero" title="'Genero'"></many-field>	
									<many-field model="m.directores" title="'Directores'"></many-field>	
									<many-field model="m.reparto" title="'Reparto'"></many-field>	
									<sinopsis-field model="m.description" title="'Descripción'"></sinopsis-field>
				    		</div>
			    		</div>
	 				</div>
				</div>
			</div>
		</pagination-view>

	</div>
</div>