<!-- Fixed navbar -->
<header>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://lopeordelaweb.li"><img
					ng-src="/assets/images/lopeordelaweb.png"
					alt="Lo Peor de la Web" height="50" width="300"
					style="position: relative; top: -15px; left: 0px;"></img></a>
			</div>
			
			<div class="collapse navbar-collapse" ng-controller="UserCtrl as userC">
				<ul class="nav navbar-nav">
					<li><a href="#/movies">Películas y documentales</a></li>
					<li ng-show="userC.puedeAgregarUsuario()"><a href="#/games">Juegos</a></li>
					<li ng-show="userC.puedeAgregarUsuario()"><a href="#/music">Música y recitales</a></li>
					<li ng-show="userC.puedeAgregarUsuario()"><a href="#/series">Series</a></li>
					<li ng-show="userC.puedeAgregarUsuario()"><a href="#/soft">Software y sistemas operativos</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
		        <li ng-show="userC.isInvitado()"><a ng-click="userC.openLogIn()">Ingresar</a></li>
		        <li ng-show="!userC.isInvitado()" class="dropdown">
		          <a class="dropdown-toggle">{{userC.user.user}} ({{userC.user.role}}) <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
				    <li><a ng-click="userC.openChangePass()">Cambiar pass</a></li>
				    <li ng-show="userC.puedeAgregarUsuario()"><a ng-click="userC.openAddUser()">Agregar usuario</a></li>
				    <li ng-show="userC.puedeBorrarUsuario()"><a ng-click="userC.openDeleteUser()">Borrar usuario</a></li>
		            <li class="divider"></li>
		            <li><a ng-click="userC.logOut()">Salir</a></li>
		          </ul>
		        </li>
		      </ul>
			</div>
		</div>
	</div>
</header>
