<div class="movieContainer">
	<div class="text-center">
		<div ng-show="model.thereAreItems()">{{model.getTotalItems()}} resultados</div>
		<pagination-bar ng-show="model.thereAreItems()" model="model"></pagination-bar>
		<div ng-hide="model.thereAreItems()">No se encontraron resultados</div>
	</div>
	<div ng-show="model.thereAreItems()" class="main-items-container">
		<div ng-transclude class="items-list"></div>
	</div>
	<div class="text-center" ng-show="model.thereAreItems()">
		<pagination-bar model="model"></pagination-bar>
	</div>
</div>